

/*
  Navbar
  ------
*/

.navbar-dark {
  background-color: darkgrey;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: inherit;
}



/*
  Section - Home
  --------------
*/

/* Home BG Static (default) */

#home {
  background: url("../images/slides/bg.png");
}



/* Home BG Slideshow */

#home-bg-slideshow .bg-slideshow-wrapper .slides > .bg-cover:nth-child(1) {
  background: url("../images/slides/b1g.png");
  position: relative;
  
}
#home-bg-slideshow .bg-slideshow-wrapper .slides > .bg-cover:nth-child(2) {
  background: url("../images/slides/b1g.png");
  position: relative;
}
#home-bg-slideshow .bg-slideshow-wrapper .slides > .bg-cover:nth-child(3) {
  background: url("../images/slides/b1g.png");
  position: relative;
}

#home-bg-slideshow .bg-slideshow-wrapper .slides > .bg-cover:nth-child(4) {
  background: url("../images/slides/b1g.png");
  position: relative;
}


/* Home BG Slider */

/* #home-bg-slider .bg-slider-wrapper .flickity-slider .bg-cover:nth-child(1) {
  background: url("../images/slides/2.png");
}
#home-bg-slider .bg-slider-wrapper .flickity-slider .bg-cover:nth-child(2) {
  background: url("../images/slides/4.png");
}
#home-bg-slider .bg-slider-wrapper .flickity-slider .bg-cover:nth-child(3) {
  background: url("../images/3.png");
}
#home-bg-slideshow .display-table-cell,
#home-bg-slider .display-table-cell {
  position: relative;
  z-index: 20;
} */




/*
  Intro
  -----
*/

/* #intro .features-box .bg-cover {
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  height: 192px;
}
#intro .features-box:nth-child(1) .bg-cover {
  background-image: url("../images/slides/founder.png");
}
#intro .features-box:nth-child(2) .bg-cover {
  background-image: url("../images/slides/managing partner.png");
}
#intro .features-box:nth-child(3) .bg-cover {
  background-image: url("../images/slides/working partner.png");
} */



/* worker intro */

.workers {
  max-height:600px; 
  min-height:500px;
  width:auto;
  /* border-radius: 400px; */
  
  text-align: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-shadow: #626262 2px 2px blur;

}

.name{
  color: #fff;
  margin: 45px; 
  position: relative;
  
}

.num{
  color:#fff;
  margin:40px;
  position: relative;
  
}


/*
  Section - Team
  --------------
*/

.member-box {
  margin-bottom: 24px;
}



/*
  Section - Speakers
  ------------------
*/

.speaker-box {
  margin-bottom: 24px;
}






/*
  Section - Schedule
  ------------------
*/

#schedule .nav-tabs > li.active > a,
#schedule .nav-tabs > li.active > a:hover,
#schedule .nav-tabs > li.active > a:focus {
  background-color: #626262;
  color: #272727;
}
#schedule .nav-tabs > li > a {
  color: #272727;
}
#schedule .td-session-number {
  width: 110px;
}


/* Carousel Schedule */

.carousel-schedule .carousel-cell {
  width: 100%;
}
@media (min-width: 768px) {
  .carousel-schedule .carousel-cell {
    width: 50%;
  }
}


/* Timeline */

.flickity-enabled.is-draggable .flickity-viewport,
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: url("../images/icons/left-right-dark.png"), move;
  cursor: url("../images/icons/left-right-dark.png"), -webkit-grab;
  cursor: url("../images/icons/left-right-dark.png"), grab;
}
.timeline ul {
  margin-left: 20px;
  padding: 15px 0 20px;
}
.timeline ul:before {
  background-color: #dfdfdf;
  border-radius: 50%;
  bottom: 0;
  content: '';
  display: block;
  height: 8px;
  left: 0;
  margin-left: -4px;
  position: absolute;
  width: 8px;
}
.timeline-item {
  padding: 13px 0 13px 33px;
}
.timeline-item:before {
  background-color: #ffffff;
  border: 1px solid #989898;
  border-radius: 50%;
  content: '';
  display: block;
  height: 12px;
  left: 0;
  margin-left: -6px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  width: 12px;
}
.timeline-item.highlight:before {
  background-color: #989898;
  border: 1px solid #989898;
}
.timeline-content {
  -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  padding: 16px;
}






/* Nav Stacked */

.nav.nav-pills.nav-stacked > li:first-child > a {
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
.nav.nav-pills.nav-stacked > li:last-child > a {
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.nav.nav-pills.nav-stacked > li > a {
  color: #272727;
  padding: 14px 18px;
}









/* Google map */

.map {
  position: relative;
  padding-bottom: 100%;    /* aspect ratio 1:1 */
  height: 0;
  overflow: hidden;
}
@media (min-width:420px) {
  .map {
    padding-bottom: 75%;    /* aspect ratio 3:4 */
  }
}
@media (min-width:540px) {
  .map {
    padding-bottom: 60%;    /* aspect ratio 3:5 */
  }
}
@media (min-width:800px) {
  .map {
    padding-bottom: 75%;    /* aspect ratio 3:4 */
  }
}
.map iframe {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}





/*
  Event bottom banner
  -------------------
*/
#event-banner {
  background-image: url("https://toptal.com/designers/subtlepatterns/patterns/whitediamond.png");
}
#event-banner .row {
  display: flex;
  flex-direction: column;
}
#event-banner .row #banner-registration {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  #event-banner .row {
    flex-direction: row;
  }
  #event-banner .row #banner-registration {
    margin: auto;
  }
}





/*
  Footer
  ------
*/

.footer {
  padding: 50px 0 32px;
}
.footer-logo {
  padding-bottom: 25px;
}
.footer-logo img {
  width: 120px;
}
.footer .disclaimer {
  padding-bottom: 25px;
  font-size: 14px;
}
.footer-social {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .footer-social {
    padding-bottom: 50px;
  }
}
.footer-social ul > li {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .footer-social ul > li {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.footer-copyright {
  padding-top: 32px;
}



/*
  Responsive images
  -----------------
*/

.img-wrapper {
  position: relative;
  padding-bottom: 133.33%;    /* 4:3 aspect ratio */
  overflow: hidden;
  width: 100%;
}
.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: auto;
}



/*
  Features box
  ------------
*/

@media (min-width: 768px) {
  .row .features-box {
    margin-bottom: 15px;
  }
  .row .features-box:last-child {
    margin-bottom: 0;
  }
}
