<!DOCTYPE html>

<html class="no-js" lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Title, icon, description and keywords -->
  <title>JS TRADERS</title>
  <link rel="shortcut icon" href="../static/images/logo/Js.png">
  <meta name="description" content="JS Traders, Js, Iron and Steel">
  <meta name="keywords" content="JS Traders, iron and steel company">


  <!-- Browser themes -->
  <meta name="theme-color" content="#000">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

  <!-- Font Icons -->
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">

  <!-- Plugins -->
  <link rel="stylesheet" href="../static/css/flickity.min.css">
  <link rel="stylesheet" href="../static/css/magnific-popup.css">

  <!-- Main styles -->
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- Color skin -->
  <link rel="stylesheet" href="../static/css/color_red.css">


</head>

<body id="page-top">
  <!-- Navigation Start -->
  <nav id="navigation" class="navbar navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="navbar-header col-lg-3">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand font-family-alt letter-spacing-1 text-extra-large" href="/" >
            <img class="logo-navbar-black text-extra-large" src="../static/images/logo/Js traders.png"  alt="" />
            <img class="logo-navbar-white text-extra-large" src="../static/images/logo/Js traders.png" alt="" />

          </a>
        </div>

        <!-- //.navbar-header -->

        <div id="navbar" class="navbar-collapse collapse col-lg-9 pull-right  ">

          <ul class="nav navbar-nav font-family-alt letter-spacing-1 text-uppercase font-weight-700">
            <li><a href="#page-top" class="page-scroll">Home</a></li>
            <li><a href="/products" class="line-height-unset">Products</a></li>
            <li><a href="/contact" class="line-height-unset">Contact Us</a></li>
            <li class="bg-base-color">
              <a href="tel: +91 9094579466" class="line-height-unset width-100">
                GET QUOTA
              </a>
            </li>
          </ul>
        </div>
        <!-- //.navbar-collapse -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.container -->
  </nav>
  <!-- //Navigation End -->



  <!-- Section - Home Start -->
  <section id="home-bg-slideshow" class="row bg-gray-dark height-100 no-padding overflow-hidden width-100">
    <!-- BG Slideshow -->
    <div class="bg-slideshow-wrapper flexslider height-100 no-border no-border-radius no-margin width-100">
      <div class="slides height-100 width-100">
        <div class="bg-cover  display-block height-100 width-100">
          <div class="display-table height-100 position-absolute position-top position-left width-100">
            <div class="display-table-cell vertical-align-middle">
              <div class="col-md-12">
                <img src="../static/images/slides/founder.png" class="workers">
                <div class="col-sm-4 col-sm-10 row text-center bg-base-color no-margin-bottom no-margin-rl  ">
                  <h4 class="name">Mr. N G A AHAMED MEERA SAHIB<br><B>FOUNDER</B></h2>
                </div>
              </div>

            </div>
            <!-- //.display-table-cell -->
          </div>
          <!-- //.display-table -->
        </div>
        <!-- //.bg-cover -->

        <div class="bg-cover display-block height-100 width-100">
          <div class="display-table height-100 position-absolute position-top position-left width-100">
            <div class="display-table-cell vertical-align-middle">
              <div class="col-md-12">
                <img src="../static/images/slides/managing partner.png" class="workers">
                <div class="col-sm-4 col-sm-10 row text-center bg-base-color no-margin-bottom no-margin-rl  ">
                  <h4 class="name">Mr. AHAMED ASHRAF<br> <B>MANAGING PARTNER</B> </h4>
                </div>
              </div>
            </div>
            <!-- //.display-table-cell -->
          </div>
          <!-- //.display-table -->
        </div>
        <!-- //.bg-cover -->

        <div class="bg-cover  display-block height-100 width-100">
          <div class="display-table height-100 position-absolute position-top position-left width-100">
            <div class="display-table-cell vertical-align-middle">
              <div class="col-md-12">
                <img src="../static/images/slides/working partner.png" class="workers">
                <div class="col-sm-4 col-sm-10 row text-center bg-base-color no-margin-bottom no-margin-rl  ">
                  <h4 class="name">Mrs. A MINNATHUL MISIRIA <br><B>WORKING PARTNER</B>  </h2>
                </div>
              </div>
            </div>

          </div>
          <!-- //.display-table-cell -->
        </div>
        <!-- //.display-table -->
      </div>
      <!-- //.bg-cover -->
    </div>
    <!-- //.slides -->
    </div>
    <!-- //.bg-slideshow-wrapper -->
  </section>
  <!-- //Section - Home End -->



  <!-- Section - About Start -->
  <section id="about" class="bg-white-3 pull-up">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-7">
          <h2 class="font-family-alt font-weight-700 sm-title-large title-extra-large-2 text-gray-dark-2">
            Why Choose Us?
          </h2>
          <span class="bg-base-color margin-4 no-margin-bottom no-margin-rl separator-line-extra-thick-long"></span>
          <div class="row">
            <div class="col-md-12">
              <p
                class="font-family-alt margin-5-5 no-margin-bottom no-margin-rl sm-text-large text-extra-large text-gray-dark-2">
                At <span class="text-base-color">J S Traders</span>, we stand out for the unparalleled quality standards
                that have earned us numerous
                accolades over the years. Our name is highly recommended by customers across the industry. In addition
                to our commitment to providing high-quality products, we conduct business with fairness and
                transparency, guided by our core values. We believe in fostering strong relationships with our customers
                and partners worldwide. Through understanding and mutual cooperation, we build cohesive partnerships
                that inspire confidence in selecting us as a trusted partner for long-term associations. <br><br>
                <b>Customer Service:</b> Customer Service: Ensuring customer satisfaction is our utmost priority. We go
                the extra mile to provide
                comprehensive support and establish harmonious and enduring relationships. We diligently adhere to
                relevant policies and honour deals that benefit our clients.<br><br>
                <b>Customization:</b> At Indian Steel Traders, we offer the freedom of customized steel supplies,
                tailored to
                meet your specific requirements. Our products are cut and sized according to BIS standards, all at
                highly affordable prices. <br><br>
                <b>On-Time Delivery:</b> Being strategically located near raw material sources, we can deliver products
                with a
                faster turnaround time and at competitive prices. We are committed to meeting delivery timelines
                consistently. Our seamless delivery process ensures that products are efficiently transported from our
                warehouse to the customer’s site.
              </p>
              <br><br>
              <h2 class="font-family-alt font-weight-700 sm-title-large title-extra-large-2 text-gray-dark-2">
                Our Story
              </h2>
              <span class="bg-base-color margin-4 no-margin-bottom no-margin-rl separator-line-extra-thick-long"></span>

              <p
                class="font-family-alt margin-5-5 no-margin-bottom no-margin-rl sm-text-large text-extra-large text-gray-dark-2">
                The founder and proprietor of M/s J S Traders was late Mr. N G A AHAMED MEERA SAHIB, one of the pioneers
                in the steel trading industry. Founded in the year 1984 and started the trade business in the field of
                Iron & Steel industry, which traded products like CTD bars, M.S. Wires, M.S. Rods and other structural
                products.
                <br><br>
                Mr. A AHAMED ASHRAF the son of Mr. N G A AHAMED MEERA SAHIB took over the management in the year 2009 as
                Proprietor. Since then, the company has excelled in the sector of Iron & Steel trading throughout Tamil
                Nadu & Pondicherry for the past decades. The primitive focus of J S Traders shifted to TMT bars, Cements
                & Structural products catering the Trade sector and Building & Construction Industry under the guidance
                of Mr. A AHAMED ASHRAF.<br><br>

                During October 2022 M/s J S Traders is now registered as a Partnership firm by appointing Mr. A AHAMED
                ASHRAF its Managing Partner and his wife Mrs. A MINNATHUL MISIRIA as its working Partner and this
                partnership is now became as a whole sale distributor and dealer enterprise dealing with top brands in
                the Iron & steel sector in Tamil Nadu.<br>

                Our portfolio includes the service of supplying the leading real estate developers and construction
                companies in Tamil Nadu. We also have a wide range of supply chain network throughout Tamil Nadu &
                Pondicherry catering about 500 dealers and sub dealers.

              </p>
            </div>
            <!-- //.col-sm-6 -->
          </div>
          <!-- //.row -->
        </div>
        <!-- //.col-sm-6 -->

        <div class="col-sm-6 col-md-4 col-md-offset-1 xs-margin-8 xs-no-margin-rl xs-no-margin-bottom">
          <div class="testimonial">
            <div class="bg-white border border-gray-light border-round padding-5 width-100">
              <h4 class="font-weight-700 font-family-alt">
                About Us
              </h4>
              <br>
              <p class="no-margin text-gray-dark- text-large">

                Established in 1984, J S Traders has been a trailblazer in the distribution of steel products and
                construction materials throughout Tamil Nadu and Pondicherry. With nearly four decades of experience,
                the company has earned a stellar reputation for its unwavering commitment to quality, reliability, and
                customer satisfaction.

                J S Traders boasts a comprehensive product range, including structural steel, TMT bars, steel pipes, and
                sheets, alongside various construction materials like cement and concrete blocks. Their extensive
                distribution network ensures accessibility to customers in both urban and rural areas, catering to
                projects of all scales.

                The company's dedication to quality is paramount. J S Traders sources its products from reputable
                manufacturers and maintains rigorous quality control measures, guaranteeing materials that meet or
                exceed industry standards. This commitment has solidified their status as a trusted supplier.

                Customer satisfaction is at the forefront of their business philosophy. A dedicated team of experts
                assists clients in choosing the right materials for their projects, coupled with efficient and punctual
                deliveries, ensuring projects stay on track and earning the loyalty of their clientele.

                J S Traders has cultivated enduring partnerships in the construction industry through ethical practices
                and transparency. Beyond business, they engage with the local community, actively participating in
                initiatives related to education, healthcare, and social welfare, reflecting their commitment to
                corporate responsibility.

                In summary, since its establishment in 1984, J S Traders has evolved into a pioneering and dependable
                distributor of steel products and construction materials in Tamil Nadu and Pondicherry. Their dedication
                to quality, customer satisfaction, and community engagement has been the bedrock of their success,
                reaffirming their position as a cornerstone of the region's construction industry.






                <br>

              </p>
            </div>
            <!-- //.bg-white -->
          </div>
          <!-- //.testimonial -->
        </div>
        <!-- //.col-sm-6 -->
      </div>
    </div>
    <!-- //.container -->
  </section>
  <!-- //Section - About End -->







  <!-- Section - Social start -->
  <section id="social" class="bg-gray-light-2 pull-up">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="font-family-alt font-weight-700 sm-title-large title-extra-large-2 text-gray-dark-2">
            Connect with us
          </h2>
          <span class="bg-base-color margin-4 no-margin-bottom no-margin-rl separator-line-extra-thick-long"></span>
        </div>
      </div>
      <!-- //.row -->
      <br><br>
      <div class="row">




        <!-- Section - Footer start -->
        <section id="event-banner" class="bg-white pull-up">
          <div class="container">
            <div class="row">

              <!-- //.col-sm-4 -->

              <div class="col-sm-4 xs-margin-8 xs-no-margin-bottom xs-no-margin-rl ">
                <!-- <h3 class="margin-3 text-base-color title-large-2 no-margin-rl no-margin-bottom ">Address</h3> -->

                <h2 class="font-family-alt font-weight-600 sm-title-large title-large text-gray-dark-2">
                  Warehouse</h2>
                <span class="bg-base-color margin-4 no-margin-bottom no-margin-rl separator-line-thick-long"></span>

                <p class="margin-3 font-family no-margin-bottom no-margin-rl xs-title-small text-gray-dark">
                  D-193 SATHANGADU IRON & STEEL MARKET,<br> SATHANGADU, Manali, Chennai<br>
                  TAMILNADU, India
                </p>
              </div>
              <!-- //.col-sm-4 -->
              <div class="col-sm-4 xs-margin-8 xs-no-margin-bottom xs-no-margin-rl ">
                <!-- <h3 class="margin-3 text-base-color title-large-2 no-margin-rl no-margin-bottom ">Address</h3> -->
                <h2 class="font-family-alt font-weight-600 sm-title-large title-large text-gray-dark-2">
                  Contact</h2>
                <span class="bg-base-color margin-4 no-margin-bottom no-margin-rl separator-line-thick-long"></span>
                <p>
                <ul class="list-inline list-unstyled no-margin xs-text-center xs-title-small title text-gray-dark"
                  style="font-size:17px;">
                  <li> <i class="fa fa-envelope text-base-color "></i> jayestraders.in@gmail.com</li><br>
                  <li><i class="fa fa-phone text-base-color"></i> +91 9941576922</li><br>
                  <li><i class="fa fa-phone text-base-color"></i> +91 9094579466</li>
                </ul>
                </p>


              </div>
              <div class="col-sm-4 xs-margin-8 xs-no-margin-bottom xs-no-margin-rl ">
                <!-- <h3 class="margin-3 text-base-color title-large-2 no-margin-rl no-margin-bottom ">Address</h3> -->
                <h2 class="font-family-alt font-weight-600 sm-title-large title-large text-gray-dark-2">
                  Address</h2>
                <span class="bg-base-color margin-4 no-margin-bottom no-margin-rl separator-line-thick-long"></span>

                <p class="margin-3 font-family no-margin-bottom no-margin-rl xs-title-small text-gray-dark">
                  82, MOORE STREET, PARRYS, <br>
                  CHENNAI 600001, TAMILNADU
                </p>
                <br>
                <a href="tel: +91 9941576922" class="btn btn-outline-base-color sm-btn-medium btn-large no-margin-rl">
                  <span>GET QUOTA</span>
                </a>
              </div>

              <!-- //.col-sm-4 -->
            </div>
            <!-- //.row -->
          </div>
        </section>
        <!-- //Section - Event banner end -->

        <!-- Footer Start -->
        <!-- <footer class="footer bg-white">
        <div class="footer-social text-right pull-right">
         <p><ul class="list-inline list-unstyled no-margin xs-text-center xs-title-small title" style="font-size:17px;">
            <li> <i class="fa fa-envelope"></i><a href="mailto: jayestraders.in@gmail.com"></a> </li>
            <li><i class="fa fa-phone"><a href="tel: +91 9094579466"></a></i></li> <br>
            <li></li>
          </ul>
        </p>

        </div>`
       
</footer> -->
        <!-- //Footer End -->


        <!-- Scroll to top -->
        <a href="#page-top" class="page-scroll scroll-to-top"><i class="fa fa-angle-up"></i></a>


        <!-- jQuery -->
        <script src="/static/js/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js"></script>

        <!-- Plugins -->
        <script src="/static/js/pace.min.js"></script>
        <script src="/static/js/debouncer.min.js"></script>
        <script src="/static/js/jquery.easing.min.js"></script>
        <script src="/static/js/jquery.inview.min.js"></script>
        <script src="/static/js/jquery.matchHeight.js"></script>
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <script src="/static/js/imagesloaded.pkgd.min.js"></script>
        <script src="/static/js/flickity.pkgd.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.validate.min.js"></script>

        <!-- BG slideshow -->
        <script src="/static/js/jquery.flexslider.min.js"></script>


        <!-- Theme -->
        <script src="/static/js/main.js"></script>



</body>

</html>